@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #293264;
  background-color: #F5F7FB;
  height: 100vh;
}

main {
  margin-top: 40px;
  height: 100vh;
}

h2, h3 {
   font-family: 'Karla', sans-serif;
   font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  margin: 0;
}

h3 {
  font-size:  1rem;
  margin: 12px 0;
}

span {
  font-weight: 400;
  font-size: 1rem;
  margin: 10px auto 30px;
}

p {
  font-weight: 500;
  font-size: .625rem;
  cursor: pointer;
  display: inline-block;
}

button {
  border-radius: 15px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 60px 11px ;
  border: none;
}

.img-wrapper {
  position: relative;
  bottom: 0;
}

.blob-1 {
  position: absolute;
  left: -70px;
  bottom: -100px;
  height: 100px;
  width: 221px;
}

.blob-2 {
  display: inline-block;
  position: absolute;
  right: -62px;
  top: -100px;
  width: 297px;
  height: 235px;
}

.div-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.question {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 10px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.options {
  border: 0.79px solid #4D5B9E;
  border-radius: 7px;
  margin: 0px 0px 12px 12px;
  padding:  3px 10px;
}

.options:first-child {
  margin: 0;
}

.btn {
  margin: 20px auto;
  display: block;
}

.play__again {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play__again-text {
  padding-right: 25px;
}

.play__again-btn {
  padding: 10px 40px 11px ;
}
